{% extends 'layouts/main.html' %}
{% block title %}Fyyur{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-6">
    <h1>Fyyur</h1>
    <p class="lead">Where musical artists meet musical venues.</p>
    <h3>Recent Artists</h3>
    <ul class="items">
      {% for artist in artists %}
      <li><a href="/artists/{{ artist.id }}">{{ artist.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-sm-6">
    <h3>Recent Venues</h3>
    <ul class="items">
      {% for venue in venues %}
      <li><a href="/venues/{{ venue.id }}">{{ venue.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}